:root {
  --main-font: sans-serif;
  --text-size: 18px;

  --border: 5px;
  --shadow: 0 5px 5px rgba(92, 83, 74, 0.1);

  --bg-page: #BBABAE;
  --bg-main: #D3C7CB;
  --bg-input: #E8E4E7;

  --accent-brown: #5C534A;
  --text-white: #E8E4E7;
}

body {
  background-color: var(--bg-page);
  font-family: var(--main-font);
  font-size: var(--text-size);
}

.main {
  display: flex;
  gap: 30px;
  flex-direction: column;
  max-width: 500px;
  min-height: 90vh;
  margin: 50px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: var(--border);
  background: var(--bg-main);

}

.h1 {
  text-align: center;
  color: var(--text-white);
  font-size: 55px;
  font-family: var(--main-font);
}

.wrapper {
  display: flex;
  justify-content: center;
}

.task-input {
  height: 32px;
  width: 300px;
  padding-left: 5px;
  border: 2px solid transparent;
  border-radius: 5px 0 0 5px;
  font-size: var(--text-size);
  font-family: var(--main-font);
  color: var(--bg-main);
  background-color: var(--bg-input);
  box-shadow: var(--shadow);
  position: relative;
  top: 0;
}

.task-input::placeholder {
  font-size: var(--text-size);
  font-family: var(--main-font);
}

/* .task-input:focus {
  border-color: rgba(92, 83, 74, 0.1);
  background-color: var(--bg-input);
} */

.task-input:focus::placeholder {
  color: transparent;
}

.add-btn {
  height: 32px;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  font-size: var(--text-size);
  font-family: var(--main-font);
  color: var(--text-white);
  background: linear-gradient(180deg, #746a60 0%, var(--accent-brown) 100%);
  box-shadow: var(--shadow);
  position: relative;
  top: 0;
}

.filter-buttons {
  display: flex;
  width: 99%;
  margin: 0 auto;
  box-shadow: var(--shadow);
}

.filter-buttons button {
  flex: 1;
  font-family: var(--main-font);
  font-size: 15px;
  color: var(--text-white);
  background-color: var(--accent-brown);
  opacity: 0.6;
}

.filter-buttons button.active {
  background: #ded4d7 !important;
  color: #FFF;
  filter: brightness(1);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 50px;
}

li {
  display: flex;
  flex-direction: row;
  /* gap: 5px; */
  max-width: 400px;
  white-space: normal;
  font-size: var(--text-size);
  font-family: var(--main-font);
  align-items: start;
  color: var(--accent-brown);
}

.task-text {
  flex: 1;
  min-width: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

.remove-btn {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px 0 0 5px;
  font-size: var(--text-size);
  font-family: var(--main-font);
  color: var(--text-white);
  background: linear-gradient(180deg, #cfbfc3 0%, var(--bg-page) 100%);
  box-shadow: var(--shadow);
}

.done-btn {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 0 5px 5px 0;
  font-size: var(--text-size);
  font-family: var(--main-font);
  color: var(--text-white);
  background: linear-gradient(180deg, #cfbfc3 0%, var(--bg-page) 100%);
  box-shadow: var(--shadow);
}

button.add-btn:active,
button.remove-btn:active,
button.done-btn:active {
  filter: brightness(0.9);
  color: var(--accent-brown);
  transition: 0.01s;
}

.edit-input {
  /* height: 25px; */
  width: 90%;
  padding-left: 5px;
  border-radius: 2px 0 0 2px;
  font-size: var(--text-size);
  font-family: var(--main-font);
  color: var(--bg-main);
  background-color: var(--bg-input);
}

@media (hover: hover) {
  .add-btn:hover {
    color: var(--bg-main);
    background-color: var(--bg-input);
  }

  .filter-buttons button:hover {
    background: var(--bg-main) !important;
    color: var(--bg-input);
    filter: brightness(1);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  li button:hover {
    color: var(--bg-main);
    background-color: var(--bg-input);
  }
}

@media (max-width: 768px) {
  .main {
    width: 90%;
    margin: 30px auto;
  }

  .h1 {
    font-size: 50px;
  }

  input {
    width: 70%;
  }

  li {
    max-width: 90%;
  }

}